---
import "@fontsource-variable/montserrat";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Andrés Atehortua [Personal Website]">
	<div class="wrapper h-svh flex items-center justify-center">
		<Card />
	</div>
</Layout>

<!-- Styles -->
<style is:global>
	:root {
		font-family: "Montserrat Variable", sans-serif;
	}
	.wrapper {
		perspective: 1000px;
	}
</style>
