---
import CardBg from "./CardBg.astro";
---

<CardBg />

<div
    class="content p-3 pt-0 flex flex-col justify-center gap-4 h-full w-full"
    style="transform: translatez(70px) scale(0.8);"
>
    <slot />
</div>
